= render 'movie_wrapper', movie: @movie
%hr
.rating
  %span.rate-point#rate-point= @movie.rating.round(1)
  %span.max-rate-point#max-rate-point /5
  %p#cmt-count Có #{@movie.comments.length} đánh giá
%hr

#comments
  - unless @movie.comments.empty?
    = render @movie.comments

- if logged_in?
  %span.cmt-form
    = link_to "Để lại bình luận", new_movie_comment_path(@movie, format: :js),
      remote: true, id: 'new_comment_link'
- else
  %span.cmt-form
    %a{ href: '/signin' } Đăng nhập để bình luận
